<h1>Nachrichten von <%=@user.get_name%></h1>

<div id="messages-box">
  Sie haben <%= @messages.length%> Nachrichten	
  <% if @messages.length != 0%>
  	<div id="messages-list">
  	<%@messages.each do | msg|%>
  		<div class="message-elem">
  			<b><%= link_to msg.title,{:controller=>:message,:action=>:read,:id=>msg.id}%></b><br />
  			Von: <%= link_to msg.sender.get_name,{:controller => :user,:action => :show,:id => msg.sender.id}%><br />  	  		
  		</div>
  	<%end%>
  	</div>
  <%end%>
</div>

<% content_for :title do%>
Nachrichten von <%=@user.get_name%>
<%end%>
