<h1><%=@msg.title%></h1>
<p>Absender: <%= link_to @msg.sender.get_name,{:controller => :user,:action => :show,:id => @msg.sender.id}%></p>
<p>Datum: <%=@msg.created_at.to_date %></p>
<p><%=@msg.body%></p>
<p> <button onclick="doDialog('sendMsg',false)">Antworten</button></p>


<%content_for :dialogs do%>
	<%= render "shared/sendMsg", :receiver => @msg.sender.get_name,:dialog => true%>
<%end%>

<% content_for :title do%>Nachricht von <%=@msg.sender.get_name%><%end%>
