
<% content_for :navigationpanel do%>
<%= render "friendspanel", :own_profile => session[:user_id] == params[:id].to_i,:is_friend => @user.is_friend(session[:user_id]),:was_friendshiprequested => @user.was_friendshiprequested(session[:user_id])%>
<% end %>


<h2><%=@user.name%> <%=@user.familyname%></h2>

<p>Mitglied seit <%=@user.created_at.day%>.<%=@user.created_at.month%>.<%=@user.created_at.year%></p>

<div class="options"><% if @user != nil %>
	<%= link_to ("javascript:doDialog('sendMsg',false)") do%>
			Nachricht schicken
		<%end%>
	<% end%>
	
</div> 
<%= render "title"%>


<div id="friendshiprequests" style="background-color:#f0f0f0;position:absolute;width:20%;height:20%;left:40%;top:40%;z-index:9999;display:none">
  <%= render "friendrequestsdialog", :user => @user%>
</div>



<%= render "shared/sendMsg", :receiver => @user.get_name,:dialog => true%>
